<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<a href = "{% url 'dashboard1' %}" class="btn btn-outline-secondary" role="button">지역 선택 화면으로</a>
<div style="width:100%">
    <canvas id="myChart"></canvas>
</div>

<script>

var ctx = document.getElementById("myChart").getContext('2d');

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["인천광역시", "충청북도", "경상북도", "제주특별자치도", "광주광역시", "전라남도", "경상남도", "부산광역시", "전라북도", "강원도", "충청남도", "경기도", "울산광역시", "대구광역시", "서울특별시", "세종특별자치시", "대전광역시"],
        datasets: [{
            label: '# of Votes',
            data: [28.8 , 28.3 , 28.3 , 28.1 , 27.9 , 27.5 , 26.9 , 26.6 , 26.2 , 26.0 , 26.0 , 25.4 , 24.1 , 24.0 , 22.9 , 22.9 , 20.8
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',

            ],
            borderColor: [
                'rgba(255,0,0,1)'
            ],
            borderWidth: 3
        }]
    },
    options: {
        maintainAspectRatio: true, // default value. false일 경우 포함된 div의 크기에 맞춰서 그려짐.
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>