<!DOCTYPE html>
{% load static %}
<script>

    function display(data){};

    function getdata(){
        $.ajax({
            url:'tabledata',
            datatype:'JSON',
            success:function(data){
                alert(data);
            }
        });
    };

    $(document).ready(function(){
        // getdata();
    });
</script>
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">3조</h1>
        <h2>main_section.html이 메인섹션d (좌측 상단 HOME버튼)</h2>
        <h2> -------- </h2>
        <h2>healthdata01 ~ healthdata11 까지의 html파일은 dashboard1에 포함되어, 없는파일이라고 생각하셔도 될 것 같습니다.</h2>
        <h2>index.html -> 좌측 목차 바꾸기 (html 36줄부터)</h2>
        <h2>layout.html -> 꾸미기</h2>
        <h2> -------- </h2>
        <h2>dashboard1 -> health data, dashboard2 -> ? dashboard3 -> ?</h2>
    </div>
</main>