<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    헬스데이터-->
    <a href = "{% url 'health01' %}" class="btn btn-outline-secondary" role="button">비만율(신체계측)_표준화율</a>
    <a href = "{% url 'health02' %}" class="btn btn-outline-secondary" role="button">삶의 질 지수(EQ-5D)_표준화율</a>
    <a href = "{% url 'health03' %}" class="btn btn-outline-secondary" role="button">양호한 주관적 건강수준 인지율_표준화율</a>
    <a href = "{% url 'health04' %}" class="btn btn-outline-secondary" role="button">행복감 지수_표준화율</a>
    <a href = "{% url 'health05' %}" class="btn btn-outline-secondary" role="button">스트레스 인지율_표준화율</a>
    <a href = "{% url 'health06' %}" class="btn btn-outline-secondary" role="button">우울감 경험률_표준화율</a>
    <a href = "{% url 'health07' %}" class="btn btn-outline-secondary" role="button">인지장애 경험률(50세 이상)_표준화율</a>
    <a href = "{% url 'health08' %}" class="btn btn-outline-secondary" role="button">주관적 구강건강이 나쁜 인구의 분율_표준화율</a>
    <a href = "{% url 'health09' %}" class="btn btn-outline-secondary" role="button">스트레스로 인한 정신상담률_표준화율</a>
    <a href = "{% url 'health10' %}" class="btn btn-outline-secondary" role="button">우울증상으로 인한 정신상담률_표준화율</a>
    <a href = "{% url 'health11' %}" class="btn btn-outline-secondary" role="button">연간 보건기관 이용률_표준화율</a>
</body>
</html>
